@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;
}

.text-input {
  @apply py-2 px-4 placeholder:text-slate-600 text-sm w-60 rounded-full outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500;
}

.navbar-brand {
  @apply text-3xl py-3 bg-gradient-to-r from-cyan-500 via-emerald-400 to-cyan-600 text-transparent bg-clip-text;
  font-family: "Mr Dafoe", cursive;
}

.loader {
  @apply border-gray-200 rounded-full border-4 ease-linear h-10 w-10;
  border-top-color: #363ce0;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
